/*
 * Copyright (c) 2005 Alexander Gottwald
 *
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE ABOVE LISTED COPYRIGHT HOLDER(S) BE LIABLE FOR ANY CLAIM, DAMAGES OR
 * OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
 * ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 *
 * Except as contained in this notice, the name(s) of the above copyright
 * holders shall not be used in advertising or otherwise to promote the sale,
 * use or other dealings in this Software without prior written authorization.
 */
#include <windows.h>

#include "resources.h"
#include "images.rc"
#include "dialog.rc"

#define VER_FILEVERSION             21,1,13
#define VER_FILEVERSION_STR         "21.1.13"

#define VER_PRODUCTVERSION          21,1,13.1
#define VER_PRODUCTVERSION_STR      "21.1.13.1"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VER_FILEVERSION
PRODUCTVERSION VER_PRODUCTVERSION
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904B0"
        BEGIN
            VALUE "FileDescription",  "cnVcXsrv 配置启动工具\0"
            VALUE "FileVersion",      VER_FILEVERSION_STR"\0"
            VALUE "InternalName",     "XLaunch\0"
            VALUE "LegalCopyright",   "https://github.com/marchaesen\0"
            VALUE "OriginalFilename", "xlaunch.exe\0"
            VALUE "ProductName",      "cnVcXsrv\0"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR"\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x809, 1200
    END
END

IDI_XLAUNCH		ICON	"..\\..\\X.ico"

1 24 "manifest.xml"
