/*
 * Copyright (c) 2005 Alexander Gottwald
 *
 * Permission is hereby granted, free of charge, to any person obtaining a
 * copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE ABOVE LISTED COPYRIGHT HOLDER(S) BE LIABLE FOR ANY CLAIM, DAMAGES OR
 * OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
 * ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
 * DEALINGS IN THE SOFTWARE.
 *
 * Except as contained in this notice, the name(s) of the above copyright
 * holders shall not be used in advertising or otherwise to promote the sale,
 * use or other dealings in this Software without prior written authorization.
 */

#define STR_CAPTION_DISPLAY         "显示设置"
#define STR_MULTIWINDOW             "多窗口模式"
#define STR_FULLSCREEN              "全屏模式"
#define STR_WINDOWED                "单窗口模式"
#define STR_NODECORATION            "单窗口模式\n[无标题栏]"
#define STR_DISPLAY_DESC            "显示编号："
#define STR_DISPLAY_EXTRA_DESC      "[设置为 -1 VcXsrv 将自动选择]"

#define STR_CAPTION_CLIENTS         "客户端启动设置"
#define STR_CLIENT_NONE             "不启动客户端程序"
#define STR_CLIENT_NONE_DESC		"这将只启动 X Server, 稍后您可以根据自己的需求启动客户端程序."
#define STR_CLIENT					"自定义客户端程序"
#define STR_CLIENT_DESC				"这将启动指定的本地或远程客户端程序, 该程序将连接到 X Server.\n稍后您也可以启动其它客户端程序, 远程程序通过SSH启动."
#define STR_XDMCP					"通过 XDMCP 打开会话"
#define STR_XDMCP_DESC				"这将启动远程 XDMCP 会话, 稍后启动本地客户端程序是受到限制的.\n此选项在【多窗口模式】下不可用."

#define STR_CAPTION_PROGRAM         "自定义客户端程序"
#define STR_CLIENT_PROGRAM_DESC     "本地程序："
#define STR_CLIENT_LOCAL            "在本地计算机上启动程序"
#define STR_CLIENT_REMOTE           "在远程服务器上启动程序"
#define STR_CLIENT_PASSWORD_DESC    "密 码："
#define STR_CLIENT_HOST_DESC        "连接远端："
#define STR_CLIENT_USER_DESC        "登录用户："

#define STR_CLIENT_REMOTEPROGRAM_DESC  "远端程序："
#define STR_CLIENT_PRIVATEKEY_DESC     "密钥KEY [PuTTY 格式]"


#define STR_CAPTION_XDMCP           "XDMCP 连接设置"
#define STR_XDMCP_QUERY             "连接主机："
#define STR_XDMCP_INDIRECT          "使用间接连接"
#define STR_XDMCP_BROADCAST         "搜索主机 [广播]"
#define STR_XDMCP_QUERY_DESC        "某些XDMCP服务器必须配置为允许远程连接. 请查看有关配置XDMCP服务器的文档."


#define STR_CAPTION_FONTPATH        "设置字体路径"

#define STR_CAPTION_EXTRA           "额外的设置"
#define STR_CLIPBOARD               "剪贴板"
#define STR_CLIPBOARD_DESC          "启动集成的剪贴板管理器"
#define STR_CLIPBOARDPRIMARY        "主选区域"
#define STR_CLIPBOARDPRIMARY_DESC   "将 PRIMARY 选择映射到 Windows 剪贴板."
#define STR_WGL                     "本地硬件加速 OpenGL 渲染"
#define STR_WGL_DESC                "使用本机 Windows OpenGL(WGL) 接口.\n确保设置 LIBGL_ALWAYS_INDIRECT 环境变量.\n在WSL中, 也可以设置 export  LIBGL_ALWAYS_SOFTWARE=true."
#define STR_EXTRA_PARAMS_DESC       "VcXsrv 的其它参数："

#define STR_DISABLEAC               "禁用访问控制"
#define STR_DISABLEAC_DESC          "当您希望 VcXsrv 接受来自所有客户端的连接时, 请使用此选项."

#define STR_XDMCP_TERMINATE         "断开 XDMCP 连接时, 关闭 X Server."

#define STR_CAPTION_FINISH          "完成配置"
#define STR_FINISH_DESC	            "配置已完成, 单击【完成】将启动 VcXsrv."
#define STR_FINISH_SAVE_DESC        "您也可以保存配置以备后用."
#define STR_FINISH_SAVE	            "保存配置..."

#define STR_DISPLAY_TITLE           "请选择显示模式"
#define STR_DISPLAY_SUBTITLE        "这里将设置 VcXsrv 程序使用的显示方式"
#define STR_CLIENTS_TITLE           "请选择如何启动客户端程序"
#define STR_CLIENTS_SUBTITLE        ""
#define STR_PROGRAM_TITLE           "请指定要启动的客户端程序"
#define STR_PROGRAM_SUBTITLE        ""
#define STR_XDMCP_TITLE             "配置 XDMCP 远程连接会话"
#define STR_XDMCP_SUBTITLE          ""
#define STR_FONTPATH_TITLE          "自定义字体位置"
#define STR_FONTPATH_SUBTITLE       ""
#define STR_FINISH_TITLE            "请选择后续操作"
#define STR_FINISH_SUBTITLE         ""
#define STR_EXTRA_TITLE             "其它可选的设置"
#define STR_EXTRA_SUBTITLE          ""

#define STR_SAVE_TITLE              "保存配置"
#define STR_SAVE_FILETITLE          "Filename"
#define STR_SAVE_FILTER             "Xlaunch Files (*.xlaunch)%*.xlaunch%%"

STRINGTABLE
BEGIN
    IDS_DISPLAY_TITLE       STR_DISPLAY_TITLE       
    IDS_DISPLAY_SUBTITLE    STR_DISPLAY_SUBTITLE    
    IDS_CLIENTS_TITLE       STR_CLIENTS_TITLE       
    IDS_CLIENTS_SUBTITLE    STR_CLIENTS_SUBTITLE    
    IDS_PROGRAM_TITLE       STR_PROGRAM_TITLE       
    IDS_PROGRAM_SUBTITLE    STR_PROGRAM_SUBTITLE    
    IDS_XDMCP_TITLE         STR_XDMCP_TITLE         
    IDS_XDMCP_SUBTITLE      STR_XDMCP_SUBTITLE      
    IDS_FONTPATH_TITLE      STR_FONTPATH_TITLE      
    IDS_FONTPATH_SUBTITLE   STR_FONTPATH_SUBTITLE   
    IDS_FINISH_TITLE        STR_FINISH_TITLE      
    IDS_FINISH_SUBTITLE     STR_FINISH_SUBTITLE   
    IDS_EXTRA_TITLE         STR_EXTRA_TITLE      
    IDS_EXTRA_SUBTITLE      STR_EXTRA_SUBTITLE   
    IDS_SAVE_TITLE          STR_SAVE_TITLE
    IDS_SAVE_FILETITLE      STR_SAVE_FILETITLE
    IDS_SAVE_FILTER         STR_SAVE_FILTER
END
